p {
    text-align: center;
    color: #BFBFBF;
}
.tenor-gif-embed{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #104039;
}